.book-nav {
  position: fixed;
  bottom: 5%;
  right: 110px;
  z-index: 999;
}

.book-icon {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
  position: relative;
  bottom: 0;
  right: 30%;
  cursor: pointer;
  z-index: 1;
}


.book-tab {
  position: absolute;
  background: #ffffcc;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 6px 6px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  transition: width 0.3s ease, z-index 0.2s ease;
  opacity: 1;
}

.book-tab:hover {
  width: 130px;
  background: #fffacd;
  font-weight: bold;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.book-tab .label{
  opacity: 0;
}

.book-icon:hover .book-tab {
  width: 120px;
}

.book-icon:hover .book-tab {
  transform: translateX(0);
}

.tab-label {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
}

.book-tab:hover .tab-label,
.book-icon:hover .tab-label {
  opacity: 1;
}