.personal-board {
    width: 100%;
    height: 100vh;
    background-color: #e8d8be;
    position: relative;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin: 0;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    color: #555;
  }